In [2]:
import pandas as pd
import folium
from folium.plugins import HeatMap

# Cargar los datos de arrestos
df_arrests = pd.read_csv('BPD_Arrests.csv')

In [3]:
# Verificar las primeras filas para entender el formato
print(df_arrests.head())
print(df_arrests.columns)

       Arrest   Age Sex Race  ArrestDate ArrestTime    ArrestLocation  \
0  16160529.0  54.0   M    B  11/12/2016      22:35   3500 PELHAM AVE
1  16160490.0  22.0   M    B  11/12/2016      21:49  300 S LOUDON AVE
2  16160487.0  31.0   M    B  11/12/2016      21:40               NaN
3  16160485.0  31.0   M    B  11/12/2016      20:30               NaN
4  16160481.0  33.0   M    B  11/12/2016      19:45               NaN

    IncidentOffense  IncidentLocation  Charge          ChargeDescription  \
0  4ECOMMON ASSAULT   3500 PELHAM AVE  1 1415             COMMON ASSAULT
1   Unknown Offense  300 S LOUDON AVE  4 3550                 POSSESSION
2   Unknown Offense               NaN  1 0077          FAILURE TO APPEAR
3   Unknown Offense               NaN  1 0077          FAILURE TO APPEAR
4   Unknown Offense               NaN  2 0480  MOTOR VEH/UNLAWFUL TAKING

       District   Post   Neighborhood                       Location 1
0  Northeastern  432.0  Belair-Edison  (39.3208685519, -76.5652449141)
1  Southwestern  833.0      Irvington  (39.2811486601, -76.6821278085)
2           NaN    NaN            NaN                              NaN
3           NaN    NaN            NaN                              NaN
4           NaN    NaN            NaN                              NaN
Index(['Arrest', 'Age', 'Sex', 'Race', 'ArrestDate', 'ArrestTime',
       'ArrestLocation', 'IncidentOffense', 'IncidentLocation', 'Charge',
       'ChargeDescription', 'District', 'Post', 'Neighborhood', 'Location 1'],
      dtype='object')

In [4]:
# Extraer latitud y longitud de la columna "Location 1"
# Eliminar posibles valores nulos antes de la operación
df_arrests['Location 1'] = df_arrests['Location 1'].dropna()
df_arrests[['Latitude', 'Longitude']] = df_arrests['Location 1'].str.extract(r'\(([^,]+),\s*([^)]+)\)')

In [5]:
# Convertir a tipo float
df_arrests['Latitude'] = df_arrests['Latitude'].astype(float)
df_arrests['Longitude'] = df_arrests['Longitude'].astype(float)

In [6]:
# Asegúrate de que no queden valores nulos en las nuevas columnas
df_arrests = df_arrests.dropna(subset=['Latitude', 'Longitude'])

In [7]:
# Crear el mapa centrado en Baltimore
baltimore_map = folium.Map(location=[39.2904, -76.6122], zoom_start=12)

In [8]:
# Agregar un mapa de calor
heat_data = [[row['Latitude'], row['Longitude']] for index, row in df_arrests.iterrows()]
HeatMap(heat_data).add_to(baltimore_map)

In [9]:
# Guardar el mapa en un archivo HTML
baltimore_map.save('baltimore_heatmap.html')